aws_account_id = "123456789012"
cluster_name   = "cluster-name"
aws_profile = "monorepo-template"
iam_user_name  = "terraform"

cluster_domain_public = "monorepo-template.local"
hosted_zone_id = "Z00000000000000000000"
nlb_zone_id = "Z00000000000000000000"

argocd_appsets_include = "dev/*"
argocd_oidc_allowed_audience = "argocd-allowed-audience"